.App-header {
  text-align: center;
  max-width: 440px;
  margin: 0 auto;
}

.App-header h2 {
  margin: 0 0 1rem 0;
  color: #EA90A3;
}

button {
  border: 1px solid #EA90A3;
  background: white;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #EA90A3;
}

button:hover {
  background:  #EA90A3;
  color: white;
}