.BookList {
  max-width: 48rem;
  margin: 0 auto;
}

.BookList ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  list-style-type: none;
  padding-left: 0px;
}

.BookList li {
  width: 22rem;
  border: 1px solid #8A8B8A;
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.BookList li.reserved {
  text-decoration: line-through;
}

.BookList p {
  margin: 0.5rem 0;
}
